@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('/static/fonts/Pretendard-Black.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('/static/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('/static/fonts/Pretendard-Bold.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('/static/fonts/Pretendard-SemiBold.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('/static/fonts/Pretendard-Medium.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('/static/fonts/Pretendard-Regular.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('/static/fonts/Pretendard-Light.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('/static/fonts/Pretendard-ExtraLight.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('/static/fonts/Pretendard-Thin.subset.woff2') format('woff2'), url('/static/fonts/Pretendard-Thin.subset.woff') format('woff');
}