/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard Std Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Std Variable'), url('/static/fonts/PretendardStdVariable.woff2') format('woff2-variations');
}
ul.wrapper {
    padding-left: 1rem;
    list-style: none;
}
.wrapper li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem;
}
body {
    margin: 0;
    font-family: "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-white dark:bg-black transition duration-100 dark:text-gray-100;

    overscroll-behavior-y: none;
}

html {
    scroll-behavior: smooth;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
   }
    20% {
        transform: scale(.8);
   }
    40% {
        transform: scale(1);
   }
    60% {
        transform: scale(.8);
   }
    80% {
        transform: scale(1);
   }
    100% {
        transform: scale(1);
   }
}
.heartbeat:hover {
    animation: heartbeat 1s infinite;
}
.hero-text-outline {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: black 1px;
}
.apply-prose {
    @apply prose lg:prose-lg dark:prose-invert;
}
::selection {
    @apply bg-black text-white dark:bg-white dark:text-black;
}
a {
    cursor: pointer;
    line-height: 2.5em;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a {
    @apply transition duration-100;
}
a:hover {
    border-bottom: 1px solid #000000;
}
.dark a:hover {
    border-bottom: 1px solid #FFFFFF;
}
.no-underline a:hover {
    border-bottom: 1px solid transparent;
}
a:hover.no-underline {
    border-bottom: 1px solid transparent;
}
b {
    font-weight: 700;
}
body .scroll-content {
    height: 100%;
    will-change: transform;
}
.container {
    @apply lg:max-w-5xl mx-auto lg:px-4;
}
#__next .scrollbar-thumb {
    background: #333;
}
#__next .scrollbar-track {
    background: 0 0;
}
#__next .scrollbar-track-y {
    right: 3px;
}
#burger:before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    right: -20px;
    left: -20px;
    bottom: -20px;
}
#name a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -10px;
    left: -10px;
    bottom: 0px;
    z-index:0
}
