/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-display {
        font-variation-settings:"opsz" 32;
    }
}

*,
::before,
::after {
  @apply dark:border-neutral-800;
}

ul.wrapper {
    padding-left: 1rem;
    list-style: none;
}
.wrapper li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem;
}

:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVar", sans-serif; font-optical-sizing: auto; }
} 
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-white dark:bg-black transition duration-200 dark:text-neutral-100;
}

.prose a {
    @apply text-[#0070f3] hover:underline font-normal;
}
html {
    scroll-behavior: smooth;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
   }
    20% {
        transform: scale(.8);
   }
    40% {
        transform: scale(1);
   }
    60% {
        transform: scale(.8);
   }
    80% {
        transform: scale(1);
   }
    100% {
        transform: scale(1);
   }
}
@layer base {
    .apply-prose {
        @apply prose prose-neutral dark:prose-invert;
    }
}
::selection {
    @apply bg-black text-white dark:bg-white dark:text-black;
}

b {
    font-weight: 700;
}
body .scroll-content {
    height: 100%;
    will-change: transform;
}
.container {
    @apply lg:max-w-4xl mx-auto;
}
#__next .scrollbar-thumb {
    background: #333;
}
#__next .scrollbar-track {
    background: 0 0;
}
#__next .scrollbar-track-y {
    right: 3px;
}
