/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  @apply dark:border-neutral-800;
}



/* width */
.thin-scrollbar ::-webkit-scrollbar {
    width: 8px;
}
/* Track */
.thin-scrollbar ::-webkit-scrollbar-track {
@apply dark:bg-neutral-900 bg-neutral-200 transition duration-200;
}

/* Handle */
.thin-scrollbar ::-webkit-scrollbar-thumb {
  @apply bg-neutral-600 dark:bg-neutral-500 rounded-full

}

/* Handle on hover */
.thin-scrollbar ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'Pretendard Std Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Std Variable'), url('/static/fonts/PretendardStdVariable.woff2') format('woff2-variations');
}
ul.wrapper {
    padding-left: 1rem;
    list-style: none;
}
.wrapper li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem;
}
body {
    margin: 0;
    font-family: "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-white dark:bg-black transition duration-200 dark:text-gray-100;

    overscroll-behavior-y: none;
}

p {
    @apply dark:text-neutral-100 text-neutral-900;
}

.prose a {
    @apply dark:text-white text-black font-semibold;
}
html {
    scroll-behavior: smooth;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
   }
    20% {
        transform: scale(.8);
   }
    40% {
        transform: scale(1);
   }
    60% {
        transform: scale(.8);
   }
    80% {
        transform: scale(1);
   }
    100% {
        transform: scale(1);
   }
}
.heartbeat:hover {
    animation: heartbeat 1s infinite;
}
.hero-text-outline {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: black 1px;
}
.apply-prose {
    @apply prose dark:prose-invert;
}
::selection {
    @apply bg-black text-white dark:bg-white dark:text-black;
}

b {
    font-weight: 700;
}
body .scroll-content {
    height: 100%;
    will-change: transform;
}
.container {
    @apply lg:max-w-4xl mx-auto;
}
#__next .scrollbar-thumb {
    background: #333;
}
#__next .scrollbar-track {
    background: 0 0;
}
#__next .scrollbar-track-y {
    right: 3px;
}
